@model VertexHRMS.BLL.ModelVM.Models.ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_Layout_login.cshtml";
}

<h2>Change Your Password</h2>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}

<form asp-action="ChangePassword" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Email" />

    <div class="form-group">
        <label asp-for="CurrentPassword"></label>
        <input asp-for="CurrentPassword" class="form-control" placeholder="Enter current password" />
        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NewPassword"></label>
        <input asp-for="NewPassword" class="form-control" placeholder="Enter new password" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm new password" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Change Password</button>
</form>
