@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/OurTeam.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <title>Our Team</title>
</head>
<body>
    <section class="container">

        <div class="ourteam">
            <div class="team-members">
                <div class="member-card">
                    <h2>Zyad Al-abiad</h2>
                    <h5>Developer</h5>
                    <div class="social">
                        <a href="mailto:atefzyad59@gmail.com"><i class="fa fa-google"></i></a>
                        <a href="https://github.com/Zyadateff"><i class="fa fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/zyadateff?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B1Myu%2BWSwQGKHocXDSadEfg%3D%3D"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>

                <div class="member-card">
                    <h2>Abdallah Qusit</h2>
                    <h5>Developer</h5>
                    <div class="social">
                        <a href="abdallah2512ahmed@gmail.com"><i class="fa fa-google"></i></a>
                        <a href="https://github.com/Abdallah-Qusit"><i class="fa fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/abdallah-qusit?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3Bx17IXitdTfmy5pt4pKHiMg%3D%3D"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="member-card">
                    <h2>Ibrahim AbdulMohsen</h2>
                    <h5>Developer</h5>
                    <div class="social">
                        <a href="Bodimohsen05@gmail.com"><i class="fa fa-google"></i></a>
                        <a href="https://github.com/IbrahimMohsen357"><i class="fa fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/ibrahim-abd-elmohsen-a1468b372?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>

                <div class="member-card">
                    <h2>Kareem Adel</h2>
                    <h5>Developer</h5>
                    <div class="social">
                        <a href="kareemadeel90@gmail.com"><i class="fa fa-google"></i></a>
                        <a href="https://github.com/kareem6565"><i class="fa fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/kareem-adel-1366a9333?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="member-card">
                    <h2>Mina Saber</h2>
                    <h5>Developer</h5>
                    <div class="social">
                        <a href="mina.sabir30@gmail.com"><i class="fa fa-google"></i></a>
                        <a href="https://github.com/minasabir"><i class="fa fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/mina-sabir-a65160267?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>

                <div class="member-card">
                    <h2>Yousef Ashraf</h2>
                    <h5>Developer</h5>
                    <div class="social">
                        <a href="yusufghareeb144@gmail.com"><i class="fa fa-google"></i></a>
                        <a href="https://github.com/BluRAX"><i class="fa fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/yusuf-ghareeb-012bb72a9"><i class="fa fa-linkedin"></i></a>

                    </div>
                </div>
                <div class="member-card">
                    <h2>Salma Azoz</h2>
                    <h5>Developer</h5>
                    <div class="social">
                        <a href="Salmaazoz63@gmail.com"><i class="fa fa-google"></i></a>
                        <a href="https://github.com/Salmaazoz22"><i class="fa fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/salma-azoz/"><i class="fa fa-linkedin"></i></a>

                    </div>
                </div>

            </div>


            <div class="content">
                <h1>Meet Our Team</h1>
                <p>We're students at the Information Technology Institute (ITI), and this is our graduation project. Our team has worked together to apply what we have learned during our journey at ITI. This experience is not only helping us grow as developers but also teaching us the value of teamwork, creativity, and problem-solving.</p>
                <a asp-controller="DepartmentCards" asp-action="Getdepart" class="button">Main</a>

            </div>

    </section>
</body>
</html>

