<nav class="floating-nav">
    <a class="brand" href="#">
        <span class="logo">⌬</span>
        <span>VERTEX - HRMS</span>
    </a>

    <div class="spacer"></div>

    <ul class="nav-links">
        <li><a asp-controller="FaceRecognition" asp-action="FaceLogin">Attendance</a></li>
    </ul>
</nav>
